 

.contact{
    background-color: white;
    display: flex;
    padding-top: 30px;;
}
     

    .left{
        flex: 1;
        overflow: hidden;
    }
     .left   img{
            width: 100%;
        }
    
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
      .right  h2{
            font-size: 30px;
        }
        .right  form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

            .right input{
                width: 300px;
                height: 30px;
                font-size: 14px;

               /*  @include mobile{
                   width: 200px;
                   height: 20px;
                } */
            }
            .right textarea{
                width: 300px;
                height: 200px;
                font-size: 14px;
            }
               /*  @include mobile{
                    width: 200px;
                    height: 100px;
                 } */
            
                 .right  button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                 }
              /*   &:focus{
                    outline: none;
                } */
             
                .right  span{
               color: rgb(100, 220, 20);

            }
      
     /* responsive added */
  @media only screen  and (max-width:688px){
    .contact {
         display: flex; 
         flex-direction: column; 
        width: 100%;
       
    
    }
    .left {
          width: 100%;  
        
         
    }
    .right {
         
        width: 100%;  
    }
    .contact {
        align-items: flex-start;

    }
    .contact  img{
        height: 50%;
        
         
        
     }
  }
 